.h1 {
  font-size: 7.594rem;
  line-height: 8rem;
  font-weight: bold;
}

.h2 {
  font-size: 3.157rem;
  font-weight: bold;
  color: var(--color-headline);
}

.h3 {
  font-size: 5rem;
  font-weight: bold;
  font-family: var(--font-headline);
  color: var(--color-headline);
}

.hero {
  background-color: var(--color-main);
  gap: 1rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      var(--color-main)
    ),
    url("../../assets/drums.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.ticket_container {
  display: grid;
  grid-template-columns: repeat(2, 30vw);
  justify-content: center;
  margin: 0 2.5% 2.5% 2.5%;
  gap: 10vw;
}

.article {
  display: flex;
  border: 5px solid rgba(252, 242, 193, 0.4);
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 5vw;
  gap: 2vw;
}

.a {
  padding: 1rem 2rem;
  border: 2px solid var(--color-headline);
}

.a:hover {
  transition: 0.5s;
  background: var(--color-headline);
  color: black;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
