@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #000;
  color: var(--color-text);
}

:root {
  --color-main: #000;
  --color-main2: #25372d;
  --color-main3: #642e24;
  --color-headline: #ce5e4a;
  --color-text: #fcf2c1;
  --font-headline: "Germania One", cursive;
  --font-headline2: "Pirata One", cursive;
  --font-paragraph: "Sen", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-headline);
  color: var(--color-headline);
}

h2 {
  font-family: var(--font-headline2);
  color: var(--color-text);
}

h3 {
  font-family: var(--font-headline2);
  color: var(--color-text);
}

li {
  font-family: var(--font-paragraph);
  color: var(--color-text);
}

p {
  font-family: var(--font-paragraph);
  color: var(--color-text);
}

a {
  font-family: var(--font-headline);
  color: var(--color-text);
}

.hero {
  display: flex;
  min-height: 50vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-main);
}
