.h1 {
  font-size: 7.594rem;
  line-height: 8rem;
  font-weight: bold;
}

.h2 {
  font-size: 3.157rem;
  font-weight: bold;
}

.h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Germania One", cursive;
}

.btn_container {
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: clamp(100px, 500px);
  background-color: var(--color-darker);
  gap: 3rem;
}

.btn_container {
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: clamp(100px, 500px);
  background-color: var(--color-darker);
  gap: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: var(--color-main);
  gap: 1rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), var(--color-main)),
    url("../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero_btn {
  background-color: transparent;
  border: 2px solid var(--color-headline);
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.hero_btn::before {
  content: "";
  width: 1.5625rem;
  height: 2px;
  background: var(--color-text);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.btn_text {
  font-size: 1.125em;
  line-height: 1.3333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text);
}

.bottom_key_1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: var(--color-main);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.bottom_key_2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: var(--color-main);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.hero_btn:hover {
  color: var(--color-text);
  background: var(--color-headline);
}

.hero_btn:hover::before {
  width: 0.9375rem;
  background: var(--color-text);
}

.hero_btn:hover .btn_text {
  color: var(--color-text);
  padding-left: 1.5em;
}

.hero_btn:hover .bottom_key_1,
.hero_btn:hover .bottom_key_2 {
  right: 0;
  width: 0;
}

.lineup {
  padding: 5vw;
  gap: 2vw;
}

.lineup_row {
  margin-bottom: 10vh;
}

.lineup_names {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  width: 80vw;
}

.lineup_names li {
  width: fit-content;
  font-weight: 700;
  font-size: 1.95rem;
  letter-spacing: 0.01em;
}

.lineup_names li:before {
  content: "//";
  width: 100%;
  overflow: hidden;
  padding: 1rem 2rem;
}

.lineup_names li:nth-child(1),
.lineup_names li:nth-child(2) {
  font-size: 4rem;
}

.lineup_names li:nth-child(3),
.lineup_names li:nth-child(4),
.lineup_names li:nth-child(5) {
  font-size: 3rem;
}
