.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 0 10vw;
  padding: 1rem;
  text-align: center;
  gap: 10vw;
  border-top: 2px;
  border-bottom: 2px;
  border-color: var(--color-headline);
  border-style: solid;
}

.footer_container a {
  color: var(--color-headline);
}

.footer_container a:hover {
  color: var(--color-main3);
}

.so_me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10vw;
  padding: 1rem;
  gap: 1rem;
}

.so_me a {
  border: 2px solid var(--color-headline);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
